// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.CodeMirror-wrap pre.CodeMirror-line, .CodeMirror-wrap pre.CodeMirror-line-like {
    word-break:break-word!important;
}

.CodeMirror {
    height:291px!important; /* This might need to be dynamicly done with javascript */
}

#registration-select select:valid {
    -webkit-appearance: menulist-button;
    color: #000;
}

#registration-select select:invalid {
    color: gray;
}

/** ------ slides.blade.php ------ */
.one-slide:hover .slides-section-btns {
    display: block;
}

.one-slide {
    border-left:1px solid #6a6a6a;
    border-right:1px solid #6a6a6a;
    border-top:1px solid #6a6a6a;
    transition: 0.3s ease;
}

#slides-list div:last-child  .one-slide {
    border-bottom: 1px solid #6a6a6a;
}

.one-slide:hover {
    transform: scale(1.02);
    border:1px solid #fff!important;
    z-index: 4;
    cursor: default;
}

.one-slide {
    word-break: break-all;
    background-color: #343A40!important;
}

.slides-section-btns {
    width:40%;
    display: none;
}
